---
import {Badge} from "@/components/ui/badge"
import { getTranslations, getCurrentLanguage } from '@/i18n/utils';

const { id, lang } = Astro.props;
const currentLang = lang || getCurrentLanguage(Astro.url);
const t = await getTranslations(currentLang);
---

<section id={id} class="w-full py-12 md:py-24 lg:py-32 bg-gray-800 text-slate-200">
  <h2 class="text-3xl font-bold mb-12 text-center">{t.about.title}</h2>
  <div class="container mx-auto grid items-center gap-8 px-4 md:px-6 lg:grid-cols-[1fr_2fr] lg:gap-16">
    <div class="flex flex-col items-center justify-center space-y-2">
      <div class='h-36 w-36 rounded-full m-4'>
        <img class='rounded-full' src={`https://avatars.githubusercontent.com/u/63370137?s=460&u=206fe38bd4af21190f97a581e52d0a1f7d8d732d&v=4`} alt="Me"/>
      </div>
      <div class="space-y-2 text-center">
        <p class="text-muted-white">
          <span class="font-medium">{t.about.location}</span>
        </p>
        <div class="flex flex-wrap gap-2 justify-center">
          <Badge className="bg-slate-200" variant="secondary">{t.about.languages.spanish}</Badge>
          <Badge className="bg-slate-200" variant="secondary">{t.about.languages.english}</Badge>
        </div>
      </div>
    </div>
    <div class="space-y-6">
      <div class="space-y-2">
        <p>
          {t.about.description}
        </p>
      </div>
      <div class="space-y-2">
        <h3 class="text-xl font-bold">{t.about.skills.title}</h3>
        <ul class="ml-4 flex flex-col gap-1">
          <li set:html={t.about.skills.html}></li>
          <li set:html={t.about.skills.css}></li>
          <li set:html={t.about.skills.javascript}></li>
        </ul>
        <p>
          {t.about.skills.additional}
        </p>
      </div>
      <div class="space-y-2">
        <h3 class="text-xl font-bold">{t.about.mainTechnologies}</h3>
        <div class="flex flex-wrap gap-2">
          <Badge className="bg-slate-200" variant="secondary">JavaScript</Badge>
          <Badge className="bg-slate-200" variant="secondary">ReactJS</Badge>
          <Badge className="bg-slate-200" variant="secondary">NextJS</Badge>
        </div>
      </div>
    </div>
  </div>
</section>